#desc {
    border-radius: 0.75em;
    border: 1px solid black;
    width: fit-content;

    min-width: 100%;
    max-width: 100%;
    min-height: 40px;
    max-height: 50px;
    padding: 5px;
    box-sizing: content-box;

    margin-bottom: 15px;
}

p {
    margin: 0;
    margin-bottom: 3px;
    padding: 0;
}