<h1>{{title}}</h1>
<p-toast />
<p-message closable severity="info" size="small">Namig: Klikni na uporabnikovo ime za podrobnosti!</p-message>
<br>

<div class="search-div">
    <input type="text" [(ngModel)]="search_term" maxlength="8" required="required" />
    <button id="search" type="button" (click)="search()" clickable>Išči</button>
</div>
<br>

<table>
    <td>
        <tr>Vsi</tr>
        <tr>
            <ul>
                <li *ngFor="let u of users"><a routerLink="/user/{{u.id}}">{{u.id}}</a></li>
            </ul>
        </tr>
    </td>
    <td>
        <tr>Rezultati iskanja</tr>
        <tr>
            <ul>
                <li *ngFor="let su of search_users"><a routerLink="/user/{{su.id}}">{{su.id}}</a></li>
            </ul>
        </tr>
    </td>
</table>

